@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap&family=Mulish:wght@500&display=swap');


body{
    margin: 0;
    padding:0;
    font-family: "Asap";
}
